# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [170]:
import pandas as pd
import urllib3

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [171]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_table(url, sep='\t')

# Visual check if the table read is correct
#chipo.head()

### Step 4. See the first 10 entries

In [172]:
chipo[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [173]:
# Solution 1
chipo.shape[0]

4622

In [174]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [175]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [176]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [177]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [178]:
df_qty = chipo.groupby("item_name").sum()
df_qty_sorted = df_qty.sort_values("quantity", ascending=False)
df_qty_sorted.index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [179]:
df_qty_sorted.ix[0, "quantity"]

761

### Step 11. What was the most ordered item in the choice_description column?

In [180]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [181]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [182]:
chipo.item_price.dtype

print(chipo.head().item_price)

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [183]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [184]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [185]:
total = (chipo.quantity * chipo.item_price).sum()
total

39237.02

### Step 15. How many orders were made in the period?

In [186]:
orders = chipo.groupby('order_id').sum().shape[0]
orders

1834

### Step 16. What is the average revenue amount per order?

In [187]:
# Solution 1
avg = total / orders
avg

21.39423118865867

In [199]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [189]:
num_items = chipo.groupby("item_name").sum().shape[0]
num_items

50